In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display # Allows the use of display() for DataFrames

# Show matplotlib plots inline (nicely formatted in the notebook)
%matplotlib inline

import time
import datetime
import os

#import datacleaningp1 as dcp
import dcp
reload(dcp)
date_list = dcp.datelist((2016, 1, 1), (2016, 1, 21))  ### generate time list of training data
print date_list

['2016-01-01', '2016-01-02', '2016-01-02', '2016-01-03', '2016-01-03', '2016-01-04', '2016-01-04', '2016-01-05', '2016-01-05', '2016-01-06', '2016-01-06', '2016-01-07', '2016-01-07', '2016-01-08', '2016-01-08', '2016-01-09', '2016-01-09', '2016-01-10', '2016-01-10', '2016-01-11', '2016-01-11', '2016-01-12', '2016-01-12', '2016-01-13', '2016-01-13', '2016-01-14', '2016-01-14', '2016-01-15', '2016-01-15', '2016-01-16', '2016-01-16', '2016-01-17', '2016-01-17', '2016-01-18', '2016-01-18', '2016-01-19', '2016-01-19', '2016-01-20', '2016-01-20', '2016-01-21']

In [ ]:
dcp.run()

order data set read successfully!
501287

In [23]:
pwd = os.getcwd()
data_set_type = '//training_data'
folder_name = 'merged_training_data_' + date_list[0]
new_path = os.path.join(pwd+data_set_type, folder_name)

data_train = pd.read_csv(new_path+'\\data_train.csv')
display(data_train.head(10))

,PM2.5,Weather_1,Weather_2,Weather_3,Weather_8,district_id,gaps,gaps_pre_1,gaps_pre_2,gaps_pre_3,temperature,time,tj_level_1,tj_level_2,tj_level_3,tj_level_4
0,177.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,1399.0,318.0,102.0,94.0
1,177.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1399.0,318.0,102.0,94.0
2,177.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,3.0,1491.0,322.0,99.0,64.0
3,177.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,4.0,1490.0,287.0,98.0,78.0
4,177.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,5.0,1425.0,302.0,95.0,51.0
5,177.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,6.0,1327.0,313.0,94.0,66.0
6,177.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,7.0,1361.0,258.0,68.0,55.0
7,177.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,8.0,1395.0,280.0,97.0,69.0
8,177.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,9.0,1348.0,272.0,93.0,97.0
9,177.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,10.0,1417.0,236.0,93.0,53.0

In [25]:
data_train2 = data_train.copy()
data_train2.drop(['Weather_1','Weather_2'],axis = 1,inplace = True)
display(data_train2.head(10))

,PM2.5,Weather_3,Weather_8,district_id,gaps,gaps_pre_1,gaps_pre_2,gaps_pre_3,temperature,time,tj_level_1,tj_level_2,tj_level_3,tj_level_4
0,177.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,1399.0,318.0,102.0,94.0
1,177.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1399.0,318.0,102.0,94.0
2,177.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,3.0,1491.0,322.0,99.0,64.0
3,177.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,4.0,1490.0,287.0,98.0,78.0
4,177.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,5.0,1425.0,302.0,95.0,51.0
5,177.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,6.0,1327.0,313.0,94.0,66.0
6,177.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,7.0,1361.0,258.0,68.0,55.0
7,177.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,8.0,1395.0,280.0,97.0,69.0
8,177.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,9.0,1348.0,272.0,93.0,97.0
9,177.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,10.0,1417.0,236.0,93.0,53.0

In [27]:
df = pd.DataFrame()
df = pd.concat([data_train,data_train2],ignore_index = True)

In [28]:
display(df.describe())

C:\Users\sjtu\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,PM2.5,Weather_1,Weather_2,Weather_3,Weather_8,district_id,gaps,gaps_pre_1,gaps_pre_2,gaps_pre_3,temperature,time,tj_level_1,tj_level_2,tj_level_3,tj_level_4
count,19008.000000,9504.000000,9504.000000,19008.000000,19008.000000,19008.000000,19008.000000,19008.000000,19008.000000,19008.000000,19008.000000,19008.000000,18720.000000,18720.000000,18720.000000,18720.000000
mean,177.375000,0.312500,0.597222,0.006944,0.083333,33.500000,0.018939,0.018939,0.018939,0.018939,6.430556,72.500000,626.082051,125.116453,38.930021,26.673611
std,29.342597,0.463537,0.490483,0.083046,0.276393,19.050873,0.176660,0.176660,0.176660,0.176660,3.495432,41.569311,712.096662,198.269337,65.136484,41.754742
min,126.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,2.000000,0.000000,0.000000,0.000000
25%,153.000000,NaN,NaN,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,3.000000,36.750000,NaN,NaN,NaN,NaN
50%,179.500000,NaN,NaN,0.000000,0.000000,33.500000,0.000000,0.000000,0.000000,0.000000,8.000000,72.500000,NaN,NaN,NaN,NaN
75%,197.500000,NaN,NaN,0.000000,0.000000,50.000000,0.000000,0.000000,0.000000,0.000000,9.000000,108.250000,NaN,NaN,NaN,NaN
max,232.000000,1.000000,1.000000,1.000000,1.000000,66.000000,4.000000,4.000000,4.000000,4.000000,13.000000,144.000000,4175.000000,1756.000000,714.000000,449.000000

In [29]:
display(data_train.describe())

,PM2.5,Weather_1,Weather_2,Weather_3,Weather_8,district_id,gaps,gaps_pre_1,gaps_pre_2,gaps_pre_3,temperature,time,tj_level_1,tj_level_2,tj_level_3,tj_level_4
count,9504.000000,9504.000000,9504.000000,9504.000000,9504.000000,9504.000000,9504.000000,9504.000000,9504.000000,9504.000000,9504.000000,9504.000000,9360.000000,9360.000000,9360.000000,9360.000000
mean,177.375000,0.312500,0.597222,0.006944,0.083333,33.500000,0.018939,0.018939,0.018939,0.018939,6.430556,72.500000,626.082051,125.116453,38.930021,26.673611
std,29.343369,0.463537,0.490483,0.083048,0.276400,19.051374,0.176664,0.176664,0.176664,0.176664,3.495524,41.570404,712.115683,198.274634,65.138224,41.755858
min,126.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,2.000000,0.000000,0.000000,0.000000
25%,153.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,3.000000,36.750000,NaN,NaN,NaN,NaN
50%,179.500000,0.000000,1.000000,0.000000,0.000000,33.500000,0.000000,0.000000,0.000000,0.000000,8.000000,72.500000,NaN,NaN,NaN,NaN
75%,197.500000,1.000000,1.000000,0.000000,0.000000,50.000000,0.000000,0.000000,0.000000,0.000000,9.000000,108.250000,NaN,NaN,NaN,NaN
max,232.000000,1.000000,1.000000,1.000000,1.000000,66.000000,4.000000,4.000000,4.000000,4.000000,13.000000,144.000000,4175.000000,1756.000000,714.000000,449.000000